asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
django-extensions==3.2.3
django-mysql==4.14.0
idna==3.7
pillow==10.4.0
psycopg==3.2.1
psycopg2==2.9.9
requests==2.32.3
setuptools==70.3.0
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wheel==0.43.0
gunicorn==20.1.0
boto3==1.24.28
