{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
    {% endblock  %}
{% block content %}
<div class="row">
<div class="col-sm-12 "><div class="text-center fs-1">About<b style="color:green">US</b></div></div>
</div>
<div class="row">
    <div class="col-sm-8" style="min-height:600px !important; background:url({% static "images/ab.webp" %}); background-size:cover;background-repeat:no-repeat;">
    </div>
    <div class="col-sm-4 bg-light" style="p-5">
        <h3>
            We are on the way and looking for the hungry.
            </h3>
        <h6 class="my-5 mx-3">
            Imagine needing something when you are at home and getting it before you have tied your shoelaces to step out. We are revolutionizing e-commerce by making the stuff most important to you, available to you in a blink of your eye.

            We want our customers to focus on the more important things for themselves and not need to plan for the little things that life needs on an everyday basis. We are here to get your chores out of your way.  
            
            Our mission is – “instant commerce indistinguishable from magic”. </h6>
            <h5 class="text-end">-Grocery Town</h5>

            
            
    </div>
    </div>
{% endblock  %}